@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to bottom, #9D8DF1, #8C5383);
    background-attachment: fixed;
}

main {
    background-color: #E9ECF5;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #272727ad;
    width: 500px;
    padding: 15px;
    margin: auto;
}

h1 { 
    text-align: center;
    color: #084C61;
    text-shadow: 1px 1px 0px #2727274d;
}

h2 {
    color: #DB3A34;
}

p {
    text-align: justify;
}